html, body, #root, [data-reactroot] { 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
}

#menu {
    display: inline-block;
    float: left;
    height: 100%;
    width: 26%;
    padding-left: 2%;
    padding-right: 2%;
}

#map {
    display: inline-block;
    float: left;
    width: 70%;
    height: 100%;
}

#layerNameInput {
    margin-left: 2%;
    width: 21%;
}

#tileUrlInput {
    margin-left: 2%;
    width: 42%;
}

#addLayerButton {
    margin-left: 2%;
    width: 21%;
}

#shareButton, #clearButton {
    margin-left: 2%;
    width: 20%;
}
#shareLink {
    margin-left: 2%;
}

#jsonTextarea {
    width: 100%;
    height: 400px;
}