html, body, #root, [data-reactroot], [data-reactroot] > div { 
    margin:0; 
    padding:0; 
    height:100%;
    max-height: 100%;
    width:100%; 
    max-width: 100%;
    overflow: hidden;
}

#menu {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 !important;
}

#header {
    padding: 0 !important;
    z-index: 100;
}

#map {
    max-height: 100%;
    padding: 0 !important;
}

#jsonTextarea {
    width: 100%;
    height: 400px;
}

.snackbarLink, .snackbarLink:hover, .snackbarLink:active {
    color: #fff;
}
